---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>People don't think it be like it is <i style="font-size: 0.5em">(but it do)</i></h1>
			<h2>Personal life</h2> 
			<p>
				I live downtown Sacramento with my wife and numerous cats, spending my free time watching horror movies, reading comic books, going to punk shows, baking pizza, and exercising.
			</p>
			<h2>Career</h2>
			<p>
				By day I build software for money at <a href="https://skyslope.com" target="_blank">SkySlope</a>.
				<br/>	
				By night I build software for less money at <a href="https://swayzio.com" target="_blank">Swayzio</a>.
				</p>
			<p>
				I've dabbled in building all sorts of things, but I'm primarily developing in a full stack capacity for the web now. I've used lots of different technologies with
				varying levels of comfortability & expertise, but instead of an exhaustive list, I'll
				just describe the stack that I'm happy with these days (in a format borrowed from the
				brilliant <a href="https://www.olivare.net/" target="_blank">Zach Olivare</a>):
			</p>
			<ul>
				<b>👉 Build in:</b>
				<ul>
				<li>TypeScript, JavaScript, HTML, CSS</li>
				</ul>
				<b>👉 Build with:</b>
				<ul>
				<li>Node.js, React, Next.js, React Query, Tailwind CSS, MongoDB, GCP, AWS</li>
				</ul>
				<b>👉 Build for:</b>
				<ul>
				<li>Web, Node.js, containers</li>
				</ul>
			</ul>
		</main>
		<Footer/>				
	</body>
</html>
